h1 {
    color: brown;
    margin-left: 30px;

}
.header *{
    border:solid
}
.header{
    background-color:darkturquoise ;
    display: flex ;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #00FF7F;
 }
 a:link{
     color: white;
 }
 a:visited{
     color:red;
 }
 .item{
     border: solid;
     position: relative;
 }
 .item p{
     font-size: larger;
     font-weight: bold;
     position: absolute;
     top:50%;
     left:50%; 
     transform: translate(-50%,-50%);
     opacity: 0;
 }
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}
.menu{
 padding-right: 10px;
 padding-left: 10px;
 padding-top: 25px;
 
}